@import url('https://fonts.googleapis.com/css2?family=Doto:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Doto', sans-serif;
}

.send-button {
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  background: linear-gradient(90deg, #3e7283 0%, #38484f 100%);
  padding: 10px 40px;
  border: 1px solid #fff;
  box-shadow: rgb(0, 0, 0) 5px 5px 0px 0px;
  border-radius: 14px;
  transition: 500ms;
  transform: translateY(0.5);
}

.send-button:hover {
  transition: 900ms;
  padding: 10px 70px;
  transform: translateY(-10px);
  background: #fff;
  color: #ef4444;
}

.download-button {
  padding: 0.5rem 2.5rem;
  /* background: linear-gradient(180deg, #3e7283 40%, #38484f 80%); */
  border: none;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.5s linear;
  color: #fff;
  position: relative;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.download-button:hover::after,
.download-button:hover::before {
  content: '';
  background: linear-gradient(90deg, #3e4f55 0%, #1a3b4a 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  animation: move-right-side 1s ease infinite;
}

.download-button:hover {
  font-size: x-large;
}

@keyframes move-right-side {
  0% {
    inset: 0.3em 0 0 0.3em;
  }

  33% {
    inset: 0 0.3em 0.3em 0;
  }

  66% {
    inset: 1em 0 0 0.5em;
  }

  100% {
    inset: 0 1em 0.5em 0;
  }
}

@keyframes move-left-side {
  0% {
    right: -1em;
    top: -0.5em;
  }

  33% {
    bottom: -1em;
    left: -0.5em;
  }

  66% {
    top: 0;
    right: -0.7;
  }

  100% {
    right: -1em;
    top: -0.5em;
  }
}
