@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
}

.send-button {
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  background: linear-gradient(90deg, #7415ab 0%, #6d2e7b 100%);
  padding: 10px 30px;
  border: 1px solid #fff;
  box-shadow: rgb(0, 0, 0) 5px 5px 0px 0px;
  border-radius: 30px;
  transition: 500ms;
  transform: translateY(0.5);
}

.send-button:hover {
  transition: 900ms;
  padding: 10px 70px;
  transform: translateY(-10px);
  background: #fff;
  color: #7415ab;
}
