@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
}

.send-button {
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  background: linear-gradient(90deg, #b566e2 0%, #7b3e89 100%);
  padding: 10px 40px;
  border: 1px solid #fff;
  box-shadow: rgb(0, 0, 0) 5px 5px 0px 0px;
  border-radius: 14px;
  transition: 500ms;
  transform: translateY(0.5);
}

.send-button:hover {
  transition: 900ms;
  padding: 10px 70px;
  transform: translateY(-10px);
  background: #fff;
  color: #613a78;
}

.download-button {
  padding: 0.5rem 2.5rem;
  background: linear-gradient(180deg, #b977df 0%, #7a1e8f 100%);
  border: none;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.5s linear;
  color: #fff;
  position: relative;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.download-button:hover::after,
.download-button:hover::before {
  content: '';
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  animation: move-right-side 1s ease infinite;
}

.download-button:hover::before {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  inset: 0;
  animation: move-left-side 1s ease infinite;
  z-index: -2;
}

.download-button:hover {
  font-size: x-large;
}

@keyframes move-right-side {
  0% {
    inset: 0.3em 0 0 0.3em; /*top | left */
  }

  33% {
    inset: 0 0.3em 0.3em 0; /*right| bottom*/
  }

  66% {
    /* top | right | bottom | left */
    inset: 1em 0 0 0.5em; /*top | right */
  }

  100% {
    inset: 0 1em 0.5em 0;
  }
}

@keyframes move-left-side {
  0% {
    right: -1em;
    top: -0.5em;
  }

  33% {
    bottom: -1em;
    left: -0.5em;
  }

  66% {
    top: 0;
    right: -0.7;
  }

  100% {
    right: -1em;
    top: -0.5em;
  }
}
